body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: rgb(255, 119, 0);
    padding: 4px;
    color: #f6eaea;
    grid-area: main;
}

aside {
    grid-area: aside;
}

h1, h2 {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

#headshot {
    border: 1px solid #808080;
    padding: 2px;
    margin: 8px;
    border-radius: 500px;
    max-width: 50px;
}

.experience {
    border: inset 1px;
    margin-bottom: 4px;
    padding: 4px;
    background-color: whitesmoke;
    color: black;
}

.experience .title {
    font-weight: bold;
}

footer {
    background-color: black;
    color: lightblue;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    grid-area: footer;
}

#menu li {
    display: inline;
    padding: 8px;
    background-color: #024743;
}

#menu  li a {
    color: white !important;
    text-decoration: none;
}

#menu li.active {
    background-color: darkblue;
}

#menu {
    float: right;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-area: header;
}

header #menu {
    margin-left: auto;
}

/*header #headshot, header #siteName, #menu {
    display: inline;
    vertical-align: middle;
}*/
#container {
    display: grid;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    grid-template-columns: auto 200px;
    grid-gap: 8px;
}

#formInfo{
    font-size: 14px;
    font-style: italic;
}
